body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #333;
}
/* ------ Comman Useful Classes ------ */
section:not(:first-child) {
	padding: 15px;
}
.uppercase {
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	letter-spacing: 2px;
}

.box {
	padding: 0 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* ------------ Navigation ------------ */

/* --- Display Burger Menu --- */

nav ul li:not(:first-child) {
	display: none;
}
nav ul li.icon {
	float: right;
	display: inline-block;
	background-color: #e09457;
}
nav ul.burgermenu {
	position: relative;
}
nav ul.burgermenu li.icon {
	position: absolute;
	right: 0;
	top: 0;
}
nav ul.burgermenu li {
    float: none;
    display: inline;
}
nav ul.burgermenu li a {
    display: block;
    text-align: left;
}

nav {
	background-color: #3a3a3a;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

nav ul li {
	display: inline-flex;
}

nav ul li a {
	padding: 15px;
	color: #fff;
	display: block;
	text-decoration: none;
}
nav ul li a:hover {
	background-color: #e09457;
}

nav ul li:nth-last-child(2) a:hover { 
	background-color: #3a3a3a;
	color: #fafafa;
}


 /* ------ Header ------ */

 header {
 	background: url('../images/backgroundVinyl.jpg') no-repeat center center;
 	height: 150px;
	position: relative;
	background-size: cover;
	text-align: center;
	padding: 25px;
	opacity: 0.90;
	margin-top: 52px;
}

 header h1 {
 	color: #fff;
 	font-size: 25px;
 	margin-top: 25px;
 	text-align: center;
 	letter-spacing: 5px;
}

 header img {
 	width: 250px;
}

/* ------ SECTION-COPY ------ */

#copy {
	text-align: center;
	margin: 0 auto;
}

#copy hr {
	width: 15%;
	height: 2px;
	color: #e09457;
	border: none;
	background-color: #e09457;
}

#copy p {
	letter-spacing: 1px;
	margin-top: 25px;
}

/* ------ SECTION-FEATURES; ------ */

#features {
	text-align: center;
    /*padding: 0 15px;
    float: left;*/
}
#features article {
	padding-bottom: 40px;
}


#features img {
	width: 100%;
}

#features p {
	margin-top: -5px;
}

#features a {
	background-color: #fff;
    border: 2px solid #bfe9df;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: #333;
}

#features a:hover {
	background-color: #3a3a3a;
    border: 2px solid #3a3a3a;
    color: #fff;
}


/* ------ SECTION-SPONSORS; ------ */

#sponsors {
	margin-top: 25px;
	clear: both;
	text-align: center;
}

#sponsors img {
	width: 100%;
	margin-top: 15px;
}

/* ------ FOOTER ------ */
footer {
	color: #fafafa;
    background-color: #3a3a3a;
    margin-top: 60px;
    width: 100%;
    padding: 25px 0 0 0;
    float: left;
}


footer hr {
	width: 100%;
	height: 2px;
	color: #fafafa;
	border: none;
	background-color: #fafafa;
}

footer span {
	float: right;
}

footer li {
	font-size: 12px;
}

footer p {
	margin-top: 100px;
	width: 100%;
	text-align: center;
	display: block;
	float: left;
	font-size: 12px;
}

footer h5 {
	letter-spacing: 2px;
 	font-weight: lighter;
}

/* ------ MEDIA QUERIES ------ */


/* Custom Phones */ 
    @media only screen and (min-width : 320px) {
    	#features img {
    		width: 18em;
		}
		footer [class ^= 'footer-']{
			padding: 5px 35px;
		}
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {

    	header {
	    	height: 200px;
		}

    	#features img {
    		width: 25em;
		}
		#features p {
			margin: 0 auto;
		    max-width: 80%;
		    padding-bottom: 25px;
		}

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 650px) {
    	header h1 {
		    width: 60%;
		    margin: 0 auto;
		    padding-top: 25px;
	    }
	    #copy {
	    	padding: 25px 0;
	    	width: 70%;
	    }

	/* ------ Major Breakpoint ------ */
    @media only screen and (min-width : 850px) {

    	/* ------ REMOVE BURGER MENU ------ */
    	nav ul li:not(:first-child) {
    		display: inline-block;
		}
		nav ul li.icon{ 
			display: none;
			transition: all 400ms ease;
			background-color: #e09457;
		}
		nav ul li:nth-last-child(2) { 
			float:right; 
			background-color: #e09457;
		}
    	
		#features img {
		    width: 100%;
		}
		/* ------ FEATURES 3 COLUMN------ */

    	#features [class ^= 'column-'] {
		    width: 33.3333%;
		    display: inline-block;
		    text-align: center;
		}

		#features .column-1 {
		    float: left;
		}

		#features .column-2 {
		    float: right;
		}

		/* ------ FOOTER 3 COLUMN------ */

		footer [class ^= 'footer-'] {
		    width: 33.3333%;
		    display: inline-block;
		    float: left;
		    padding:0px;
		}

		footer .footer-left {
		    float: left;
		}

		footer .footer-right {
		    float: right;
		}
		footer {
		    padding: 35px;
		    height: 300px;
		    width: auto;
		    float: none;
		}


    }
   
    /* ------ Desktops and Wider screens------ */
    @media only screen and (min-width : 992px) {
    	header {
		    height: 400px;
		}
		header h1 {
			width: auto;
		 	font-size: 45px;
		 	margin-top: 60px;
		 	padding:0 30% ;
		 	text-align: center;
		 	letter-spacing: 5px;
		}
		header img {
		 	width: 300px;
		}
		#copy {
			width: 60%;
		}
		#copy h3{
			width: 60%;
			margin: 0 auto;
			padding: 25px 0;
		}
		#copy p{
			padding: 15px 0;
		}
		#copy hr {
			width: 5%;
		}
    }